html{
	height: 100%;
}
body{
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.2rem;
	min-height: 100%;
}
h3{align-content: center
	
}
p{align-content: center
	
}
.grid-container > * {
	box-shadow: -1px 1px 7px 0px;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}

.header{
	grid-area: header;
	background: #F84F52;
	
}
.sidebar{
	grid-area: sidebar;
	background: #5F292A;
}
.main{
	grid-area: main;
	background: #DD8889;
}
.footer{
	grid-area: footer;
	background: #BC37C4;
} 
.grid-container{
	display: grid;
	gap: 10px;
	grid-template-areas: 
		"header"
		"navbar navbar"
		"main sidebar"
		"footer"
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}


li{
	float: left;
}
#navbar a{
	color: #FFFDFD;
	text-decoration:none;
	display: block;
	padding: 1px 112px;
	font-size: 20px;
}
#navbar {
	background: rgba(76,76,76,1);
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
	width: 2000px;
	height: 28px;
}
.barra{
	color: #6E6868;
	padding: 1px 0 0 0;
}
#navbar a:hover{
	color: #CBF50C;
	background: #5E5C5C;
	animation: 1s ms 1;
}
@keyframes ms{
	0%{
		opacity: 0;
		transform: scale(1.6);
	}
}
@media (min-width: 900px){
	.grid-container{
		/*grid-template-columns: 200px auto;
		grid-template-rows: 10px 50px auto 100px; */
		/*grid-template-areas: 
		"header header"
		"navbar navbar"
		"sidebar main"
		"footer footer";*/
	  grid-template: 
		  "header header" 100px
		  "navbar navbar" 50px
		  "sidebar main" auto
		  "footer footer" 100px /
		  200px auto;
	}
}


